# This configuration file lets you specify the available channels
# Channels are to be specified in the following form:
#
# channels.<channelId> = "My channel name"
#
#channels.myChannelID = "Funny name"


# Furthermore, you can specify the endpoint from which to fetch channels
#channelEndpoint = https://api-test.medunigraz.at/v1/video/livechannel/

# For the backend to get stream URLs from the viewer, you must specify the necessary credentials
#viewerCredentials = opencast:password

# For testing purposes, Opencast ships with a mock API to simulate a live stream channel,
# provide stream information and viewer IDs.
# To use them, uncomment:
channelEndpoint = http://localhost:8080/vital-livestream/demoChannel
viewerCredentials = opencast_system_account:CHANGE_ME
