type=events
organization=*
flavor=dublincore/episode-extended
title=EVENTS.EVENTS.DETAILS.CATALOG.EPISODE
common-metadata=false

# Name of the XML root element of the serialized catalog
xml.rootElement.name=dublincore
# Namespace binding for the XML root element
xml.rootElement.namespace.URI=http://www.opencastproject.org/xsd/1.0/dublincore/

# XML namespace bindings
xml.namespaceBinding.root.URI=http://www.opencastproject.org/xsd/1.0/dublincore/
xml.namespaceBinding.root.prefix=
xml.namespaceBinding.dc.URI=http://purl.org/dc/elements/1.1/
xml.namespaceBinding.dc.prefix=dc
xml.namespaceBinding.dcterms.URI=http://purl.org/dc/terms/
xml.namespaceBinding.dcterms.prefix=dcterms

property.faculty.inputID=audience
property.faculty.outputID=faculty
property.faculty.label=Fachbereich
property.faculty.type=text
property.faculty.readOnly=false
property.faculty.required=true
property.faculty.listprovider=FACULTIES
property.faculty.order=2
